<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .mb-4{
            text-align: center;
        }
        .menu{
            text-align: center;
        }
    </style>
    </head>
<body>
    <div class="container">
        <h1 class="mb-4">Application</h1>
        <div class='menu'>
        <a href ="/articles/new" class="btn btn-success">New application</a>
        <a href="/chat" class="btn btn-primary">Chat</a>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
        <% articles.forEach( article => { %>
            <div class=" card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= article.title %></h4><h6 class="status"><%= article.status %></h6>
                    <div class="card-subtitle text-muted mb-2"><h8>Filing date: <%= article.createdAt %> </div>
                    <h8>Date of return: <%= article.dateofreturn %></h8>
                    <div class="card-text mb-2"><%= article.description %></div>
                    <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                    <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </div>
              </div>
        <% }) %>
    </div>
    <script>
        var a = document.querySelector('.status');
        var colors = ["red","green","blue","pink", "gold", "yellow", "blueviolet"];
        console.log(a)
        if(a === "Accepted"){
            a.style.color === colors[1];
        } else if(a === "Takes"){
            a.style.color === colors[1];
        } else if(a === "Turned"){
            a === colors[4]
        } else {
            a === colors[0]
        }

    </script>
</body>
</html>